<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Typescript appsdk service</title>
</head>

<body>
    <h1>vray appsdk server: startup time=<%= startTime %>
    </h1>

    <div>Documentation <a href="api-docs">Swagger UI</a></div>
    <div>API model: <a href="swagger.json">Swagger json</a></div>
    <h2></h2>
    <div>THREE Editor Extension:<a href="editor">THREE Editor</a></div>
    <h2></h2>    
    <footer>
        <a href="/about">About</a>
    </footer>
</body>

</html>